
<!DOCTYPE html>
{% load static %}

{% block content %}
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
    <title>xmile</title>

    <!-- 부트스트랩 -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
    <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="wrap">

      <style>
        .container-fluid{
            padding-left: 0px;
            padding-right: 0px;
        }
        
      </style>
      <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'login' %}">
                <img src="{% static '/assets/images/chevron.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
                    <div class="page-title">회원가입</div>
                </a>
            </div>
        </nav>
      </header>
      <section>
        <style>
          
        </style>
    <form method="POST">
        <div class="card-body">
          {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
          <div class="form">
              <div class="form-group">
                  <label for="input-email">아이디</label>
                  {{ form.username }}
                  
              </div>
              <div class="form-group">
                  <label for="input-email">이름</label>
                  {{ form.first_name }}
                
              </div>
              <div class="form-group">
                  <label for="input-pw">비밀번호</label>
                  {{ form.password1 }}
                  {{ form.errors.password }}
                  
              </div>
              <div class="form-group">
                  <label for="input-pw">비밀번호 확인</label>
                  {{ form.password2 }}
                
              </div>
              <div class="form-group">
                  <label for="input-pw">지갑 비밀번호</label>
             
                  
              </div>

          </div>
        </div>
        <div class="warning-text">
            <p>
                지갑 비밀번호는 숫자로 4자리이며, </br>
                암호화 코드로 저장되므로 당사는 보관하지 않아 분실시 찾기가 불가능합니다.
                
            </p>
        </div>
        <div class="asign-text">
            <div class="checkbox">
                <label class="check-join">
                    <input type="checkbox">이용약관, 개인정보 처리방침에 동의합니다. 
                </label>
            </div>
        </div>
        <div class="form-group mt-4 mb-0">
            <button type="submit" class="btn btn-blue btn-wide">회원가입</button><br><br>
        </div>
    </form>
      </section>
      
    </div>
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
{% endblock content %}
